.dropdown {
    position: relative;
}
#areaDropdown, #stopDropdown {
    max-height: 200px;
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
    max-width: calc(100vw - 20px);
}
.btnNum {
    width: 70px;
    margin: auto;
    margin-bottom: 10px;
}
.sb {
    font-size: 12px;
}
